.titulo {
    margin: 30px;
}

.tabela {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    background-color:  #424250;
    color: #ffffff;
    margin: 30px;
    font-size: 25px;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.cabecalho {
    border-collapse: collapse;
    border: solid 1px #ffffff;
}

/*Perdão por fugir da regra nessa parte*/
.dados {
    border-collapse: collapse;
    border: solid 2px;
    padding: 10px;
}